*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-weight: normal;
    font-family: SatoshiRegular;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

@font-face {
    font-family: SatoshiRegular;
    src: url('../fonts/Satoshi/Satoshi-Regular.otf');
}

@font-face {
    font-family: ClashMedium;
    src: url('../fonts/Clash/ClashDisplay-Medium.otf');
}
@font-face {
    font-family: ClashRegular;
    src: url('../fonts/Clash/ClashDisplay-Regular.otf');
}
.container{
    width:85%;
    margin:auto;
}
:root{
 --firstColor:#22202E;
 --secondColor:#726E8D;
 --firstBackColor:#F9F9F9;
 --secondBackColor:#2A254B;
}