/* Top Header start */
.top-header{
    padding:0px 30px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.navigation-list{
    display: flex;
}
.header-icon-list{
    display: flex;
}
.mobil-header-icons{
    display: none;
}
.mobile-header-icon-list{
    display: flex;
    width: 100%;
    align-items: center;
}
.mobile-header-icon-list li{
    padding-left:20px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.mobile-header-icon-list li:first-child{
    padding:0px;
}
.logo{
    width: 30%;
    display: flex;
    color:var(--firstColor);
    font-size: 24px;
}
nav{
    padding:0px 45px;
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
.navigation-list-item{
    padding:15px 0px;
    padding-left:15px;
    display: flex;
    font-size: 15px;
    color:var(--secondColor);
}
.header-icon-list li{
    padding-left:15px;
    font-size: 15px;
    color:var(--secondColor);
}
.header-icon-list li:first-child{
    padding:0px;
}
/* Top Header END */

/* Bottom Header start*/
.bottom-header{
    width:100%;
    background-color: var(--firstBackColor);
}
.bottom-header ul{
    width:100%;
    justify-content: center;
    display: flex;
}
.bottom-header > ul > li > a{
    color:var(--secondColor);
    font-size: 15px;
    padding:20px 0px;
    padding-left:20px;
    display: flex;
}
.bottom-header > ul > li:first-child a{
    padding-left:0px;
}

/* End Header */

/* Start main */
#banner{
    padding:60px 0px;
}
#banner .container{
    display: flex;
}
#banner .left{
    color:#fff;
    background-color: var(--secondBackColor);
    padding:60px;
    font-size: 32px;
    width:55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#banner .left p:first-child{
    margin-bottom:40px;
}
#banner .left a{
    display: inline-block;
    padding:16px 32px;
    font-size: 16px;
    color:rgba(255, 255, 255, 0.5);
    background-color: var(--secondColor);
}
#banner .left p:last-child{
    justify-self: flex-end;
    font-size: 14px;
    padding-top:224px;
    color:rgba(255, 255, 255, 0.5);

}
#banner .right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}